{% extends 'job/base.html' %}
{% block content %}

<style>
  body {
    background-color: #F6F2E6;
  }
</style>

<main class="container mt-3 pb-5">
  <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
    <div class="card-body px-3 pb-4">
      <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
      {% if messages %}
        {% for message in messages %}
          <p class="alert alert-info" role="alert">{{ message }}</p>
        {% endfor %}
      {% endif %}
      {% load crispy_forms_tags %}
      {% csrf_token %}
      {% crispy form form.helper %}
    </div>
  </section>
</main>

{% endblock %}