{% extends './base.html' %}
{% block content %}

<main class="container mt-3 pb-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <div class="pl-3 mb-5">
        <p><a href="{% url 'vacancy_by_specialisation' vacancy.specialty.code %}">Назад</a></p>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <section class="pl-3">
        <a href="#"><img src="{{ vacancy.company.logo.url }}" alt=""></a>
        <div class="d-flex align-items-baseline align-content-baseline">
          <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
          <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
        </div>
        <p class="mt-2">{{ vacancy.specialty.title }} • {{ vacancy.skills|join:" • " }}</p>
        <p class="text-muted mb-4">Компания ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
        <div style="line-height: 1.8;">
          {{ vacancy.description|safe }}
        </div>
        {% if form %}
          <div class="card-body mx-3">
            <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
            <a name="application"></a>
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {% crispy form form.helper %}
          </div>
        {% else %}
          <p class="alert alert-info" role="alert">Чтобы отозваться на вакансию, <a href="/login/?Y=/vacancies/{{ vacancy.id }}/#application">авторизируйтесь.</a></p>
        {% endif %}

      </section>
    </div>
  </div>
</main>
{% endblock %}