{% extends './base.html' %}
{% block content %}

<main class="container mt-3 pb-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <div class="pl-3 mb-5">
        <p><a href="{% url 'vacancy_by_specialisation' vacancy.specialty.code %}">Назад</a></p>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <section class="pl-3">
        <a href="#"><img src="{{ vacancy.specialty.picture }}" width="130" height="80" alt=""></a>
        <div class="d-flex align-items-baseline align-content-baseline">
          <h1 class="h2 mt-4 font-weight-bold" >{{ vacancy.title }}</h1>
          <p class="m-0 pl-3">{{ vacancy.salary_min }} – {{ vacancy.salary_max }} Р</p>
        </div>
        <p class="mt-2">{{ vacancy.specialty.title }} • {{ vacancy.skills|join:" • " }}</p>
        <p class="text-muted mb-4">Компания ({{ vacancy.company.employee_count }} человек), {{ vacancy.company.location }} или удаленно</p>
        <div style="line-height: 1.8;">
          {{ vacancy.description|safe }}
        </div>
        <form action="/echo" class="card mt-4 mb-3" enctype="multipart/form-data">
          <div class="card-body mx-3">
            <p class="h5 mt-3 font-weight-normal">Отозваться на вакансию</p>
            <div class="form-group">
              <label class="mb-1 mt-2" for="userName">Вас зовут</label>
              <input class="form-control" type="text" placeholder="" id="userName">
            </div>
            <div class="form-group">
              <label class="mb-1" for="userPhone">Ваш телефон</label>
              <input class="form-control" type="tel" placeholder="" id="userPhone">
            </div>
            <div class="form-group">
              <label class="mb-1" for="userMsg" >Сопроводительное письмо</label>
              <textarea class="form-control" rows="8" id="userMsg"></textarea>
            </div>
            <input type="submit" class="btn btn-primary mt-4 mb-2" value="Записаться на пробный урок">
          </div>
        </form>
      </section>
    </div>
  </div>
</main>
{% endblock %}